.header {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}